body {

    margin: 0;
    /* background-color: pink; */
    padding: 0;
    background-image: url(/blockchain.jpg);
    background-size: 100%;
}



.container{
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    width: 30%;
    height: 50%;
    margin-top: 9em;
    background-color: grey;
    border: 2px solid black;
    opacity: 0.9;
    
    }
    input{
    
    display: block;
    margin: auto;
    width: 70%;
    margin-left: 120px;
    margin-top: -1.5em;
    
    }
    label{
        display: block;
        margin-top: 10px;
        font-weight: 800;
    }
    .button{
    
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: black;
    }
    .button:hover{
        background-color: green;
        color: white;
        transform:scale(1.2,1.2);
    }
    h1{
        text-align: center;
    }
    